@model CountItMVC.Application.ViewModels.DayDetailVm

@{
    ViewData["Title"] = "DayDetail";
}

<h1>DayDetail</h1>

<div>
    <h4>DayDetailVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalKcal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalKcal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalProtein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalProtein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCarbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCarbs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWeightInGram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWeightInGram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
