@model CountItMVC.Application.ViewModels.ItemDetailVm

@{
    ViewData["Title"] = "ShowDetailsOfChoosenItem";
}

<h1>ShowDetailsOfChoosenItem</h1>

<div>
    <h4>ItemDetailVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KcalPerHundredGrams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KcalPerHundredGrams)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatPerHundredGrams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatPerHundredGrams)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinPerHundredGrams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteinPerHundredGrams)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbPerHundredGrams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbPerHundredGrams)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
