@model CountItMVC.Application.ViewModels.ItemViews.AddItemToMealVm

@{
    ViewData["Title"] = "AddItemToMeal";
}

<h1>AddItemToMeal</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Kcal/100g
            </th>
            <th>
                Fat/100g
            </th>
            <th>
                Protein/100g
            </th>
            <th>
                Carb/100g
            </th>
            <th>
                CategoryId
            </th>
            <th>
                CategoryName
            </th>
            <th>
                How many grams of product
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items.Items)
        {
            <form asp-action="AddItemToMeal">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KcalPerHundredGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatPerHundredGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProteinPerHundredGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarbPerHundredGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>

                <td>
                    <label asp-for="HowManyGramsCurrentProduct" class="control-label"></label>
                    <input asp-for="HowManyGramsCurrentProduct" class="form-control" />
                    <span asp-validation-for="HowManyGramsCurrentProduct" class="text-danger"></span>
                </td>
                <td>
                    <label asp-for="ItemId" class="control-label"></label>
                    <input asp-for="ItemId" value="@item.Id" class="form-control" />
                </td>
                <td>
                    <label asp-for="MealId" class="control-label"></label>
                    <input asp-for="MealId" value="@Model.MealId" class="form-control" />
                </td>
                @* <input type="hidden" asp-for="ItemId" />*@


                <td>
                    @*@Html.ActionLink("Add", "AddItemToMeal", "ItemInMeal")*@
                    @*<div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" asp-controller="ItemInMeal" asp-action="AddItemToMeal" asp-for="ItemId" />
            </div>*@


                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>





                </td>
            </tr>
            </form>
        }

    </tbody>
</table>
